# --- Render (backend) ---
NODE_ENV=production
B_PROD_URL=
ORIGIN_MAIN=
ORIGIN=
LOCAL=

# --- Local (backend) ---
# NODE_ENV=development
# BE_DEV_URL=http://localhost:5001/api
# LOCAL=http://localhost:5173

MONGODB_URI=
JWT_SECRET=
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

PORT=5001

# --- Vercel (frontend) ---
# VITE_BE_PROD_URL=
